$gray-light-primary: mat-palette($mat-gray, 700, 50, 800);
$gray-light-accent: mat-palette($mat-pink, A200, A100, A400);
$gray-light-warn: mat-palette($mat-red, 500);

$gray-light-theme: mat-light-theme($gray-light-primary, $gray-light-accent, $gray-light-warn);