<div color="" id="active_title" class="white">
  <div id="title-inner" class="center">
    <span id="icon_style" [innerHTML]="'users' | feather"></span>
      <span id="header_text">Client</span>  
  </div>
                
</div>
<div class="pading_textdata">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
      

    <div fxFlex.gt-sm="16.66%" class="fiveHundred">
        <mat-card >
            <mat-card-content>
              <span id="icons_style" [innerHTML]="'x-square' | feather"></span>
            <div id="data_it"> <span id="data_elem">Without Conveted</span>
              <p id="bottom_elem">0</p></div>
            </mat-card-content>
            </mat-card>
    </div>
      <div fxFlex.gt-sm="16.66%" class="fiveHundred">
          <mat-card >
              <mat-card-content>
                <span id="icons_style" [innerHTML]="'check-circle' | feather"></span>
              <div id="data_it"> <span id="data_elem">Completed Achievement</span>
                <p id="bottom_elem">0</p></div>
              </mat-card-content>
                  </mat-card>
      </div>
     
      <div fxFlex.gt-sm="16.66%" class="fiveHundred">
        <mat-card >
            <mat-card-content>
              <span id="icons_style" [innerHTML]="'user' | feather"></span>
            <div id="data_it"> <span id="data_elem">Converted Client</span>
              <p id="bottom_elem">20</p></div>
            </mat-card-content>
                </mat-card>
    </div>
    <div fxFlex.gt-sm="16.66%" class="fiveHundred">
      <mat-card >
          <mat-card-content>
            <span id="icons_style" [innerHTML]="'target' | feather"></span>
          <div id="data_it"> <span id="data_elem">Converted Achievement</span>
            <p id="bottom_elem">1</p></div>
          </mat-card-content>
              </mat-card>
  </div>
  <div fxFlex.gt-sm="16.66%" class="fiveHundred">
    <mat-card >
        <mat-card-content>
         <div id="numbr_data">hello welcome all</div>
        </mat-card-content>
            </mat-card>
</div>
<div fxFlex.gt-sm="16.66%" class="fiveHundred">
    <mat-card >
      <mat-card-content>
    <circle-progress
    [percent]="5"
    [radius]="25"
    [toFixed]="0"
    [showTitle]="true"
    [titleFontSize]="10"
    [showUnits]="false"
    [showImage]="false"
    [showBackground]="false"
    [showInnerStroke]="true"
    [clockwise]="false"
    [responsive]="false"
    [startFromZero]="false"
    [animation]="true"
  [animationDuration]="300"
    [subtitleFontSize]="0"
  ></circle-progress>
   <span id="data_elemen">Done</span>
   
</mat-card-content>
</mat-card>

  </div>

</div>
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
      <mat-card>
          <mat-accordion>
            <mat-tab-group>
                      <mat-tab label="Client List">
                          <mat-card-content>
                           
                          </mat-card-content>
                      </mat-tab>
                      <mat-tab label="New Client">
                          <mat-card-content>Content 2</mat-card-content>
                      </mat-tab>
                      <mat-tab label="Import Client">
                          <mat-card-content>Content 2</mat-card-content>
                      </mat-tab>
                      <mat-tab label="Client on Map">
                          <mat-card-content>Content 2</mat-card-content>
                      </mat-tab>
                    
                     </mat-tab-group>
                    
              </mat-accordion>
      </mat-card>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

