<div color="" id="active_title" class="white">
  <div id="title-inner" class="center">
    <span id="icon_style" [innerHTML]="'users' | feather"></span>
      <span id="header_text">Client</span>  
  </div>
                
</div>
<div class="pading_textdata">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex.gt-sm="16.66%" class="fiveHundred">
        <mat-card >
            <mat-card-content>
              <span id="icons_style" [innerHTML]="'x-square' | feather"></span>
            <div id="data_it"> <span id="data_elem">Without Conveted</span>
              <p id="bottom_elem">0</p></div>
            </mat-card-content>
            </mat-card>
    </div>
      <div fxFlex.gt-sm="16.66%" class="fiveHundred">
          <mat-card >
              <mat-card-content>
                <span id="icons_style" [innerHTML]="'check-circle' | feather"></span>
              <div id="data_it"> <span id="data_elem">Completed Achievement</span>
                <p id="bottom_elem">0</p></div>
              </mat-card-content>
                  </mat-card>
      </div>
     
      <div fxFlex.gt-sm="16.66%" class="fiveHundred">
        <mat-card >
            <mat-card-content>
              <span id="icons_style" [innerHTML]="'user' | feather"></span>
            <div id="data_it"> <span id="data_elem">Converted Client</span>
              <p id="bottom_elem">20</p></div>
            </mat-card-content>
                </mat-card>
    </div>
    <div fxFlex.gt-sm="16.66%" class="fiveHundred">
      <mat-card >
          <mat-card-content>
            <span id="icons_style" [innerHTML]="'target' | feather"></span>
          <div id="data_it"> <span id="data_elem">Converted Achievement</span>
            <p id="bottom_elem">1</p></div>
          </mat-card-content>
              </mat-card>
  </div>
  <div fxFlex.gt-sm="16.66%" class="fiveHundred">
    <mat-card >
        <mat-card-content>
         <div id="numbr_data">hello welcome all</div>
        </mat-card-content>
            </mat-card>
</div>
<div fxFlex.gt-sm="16.66%" class="fiveHundred">
  <mat-card >
      <mat-card-content>
        <span id="icons_style" [innerHTML]="'x-square' | feather"></span>
      <div id="data_it"> <span id="data_elem">Converted Client</span>
        <p id="bottom_elem">20</p></div>
      </mat-card-content>
          </mat-card>
</div>
    </div>