<div color="" id="active_title" class="white">
  <div id="title-inner" class="center">
      <mat-icon>home</mat-icon>
      <span>Dashboard CRM</span>  
  </div>
                
</div>
<div class="padding">
  <div fxLayout="row">
      <div fxFlex.gt-sm="33.33%">
          <mat-card >
              <mat-card-content>
                  <mat-card-title class="flex">
                      <mat-icon class="primary-color symbol">attach_money</mat-icon>Deposit</mat-card-title>
                      <mat-grid-list cols="2" rowHeight="2:1">
                              <mat-grid-tile class="one">
                                 
                                      <span class="primary-color mr5"><mat-icon>add_circle_outline</mat-icon></span>
                                      <span><span class="zero">$0.00</span><br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                                  
                              </mat-grid-tile>
                              
                              <mat-grid-tile class="two"><span class="primary-color mr5"><mat-icon>add_circle_outline</mat-icon></span>
                                  <span><span class="zero">$0.00</span><br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                              </mat-grid-tile>
                              
                              <mat-grid-tile class="three"><span class="primary-color mr5"><mat-icon>add_circle_outline</mat-icon></span>
                                  <span><span class="zero">$0.00</span><br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                              </mat-grid-tile>
                              <mat-grid-tile class="four"><span class="primary-color mr5"><mat-icon>add_circle_outline</mat-icon></span>
                                  <span><span class="zero">$0.00</span><br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                              </mat-grid-tile>
                            </mat-grid-list>
                  <mat-list>

                  </mat-list>
              </mat-card-content>
          </mat-card>
      </div>
      <div fxFlex.gt-sm="33.33%">
          <mat-card>
              <mat-card-content>
                  <mat-card-title class="flex"><mat-icon class="custom-green symbol">assignment</mat-icon>Invoice</mat-card-title>
                  <mat-grid-list cols="2" rowHeight="2:1">
                          <mat-grid-tile class="one">
                             
                                  <span class="custom-green mr5"><mat-icon>add_circle_outline</mat-icon></span>
                                  <span><span class="zero">$0.00</span><br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                              
                          </mat-grid-tile>
                          
                          <mat-grid-tile class="two"><span class="custom-green mr5"><mat-icon>add_circle_outline</mat-icon></span>
                              <span><span class="zero">$0.00</span><br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                          </mat-grid-tile>
                          
                          <mat-grid-tile class="three"><span class="custom-green mr5"><mat-icon>add_circle_outline</mat-icon></span>
                              <span><span class="zero">$0.00</span><br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                          </mat-grid-tile>
                          <mat-grid-tile class="four"><span class="custom-green mr5"><mat-icon>add_circle_outline</mat-icon></span>
                              <span><span class="zero">$0.00</span><br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                          </mat-grid-tile>
                        </mat-grid-list>
                  <mat-list>

                  </mat-list>
              </mat-card-content>
          </mat-card>
      </div>
      <div fxFlex.gt-sm="33.33%">
          <mat-card>
              <mat-card-content>
                  <mat-card-title class="flex"><mat-icon class="custom-pink symbol">check_circle</mat-icon><span>Task</span></mat-card-title>
                  <mat-grid-list cols="2" rowHeight="2:1">
                          <mat-grid-tile class="one">
                             
                                  <span class="custom-pink mr5"><mat-icon>add_circle_outline</mat-icon></span>
                                  <span><span class="zero">$0.00</span><br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                              
                          </mat-grid-tile>
                          
                          <mat-grid-tile class="two"><span class="custom-pink mr5"><mat-icon>add_circle_outline</mat-icon></span>
                              <span><span class="zero">$0.00</span><br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                          </mat-grid-tile>
                          
                          <mat-grid-tile class="three"><span class="custom-pink mr5"><mat-icon>add_circle_outline</mat-icon></span>
                              <span><span class="zero">$0.00</span><br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                          </mat-grid-tile>
                          <mat-grid-tile class="four"><span class="custom-pink mr5"><mat-icon>add_circle_outline</mat-icon></span>
                              <span>$0.00<br>Invoice Today<br><span class="more_info"><a href="#">More Info</a></span></span>
                          </mat-grid-tile>
                        </mat-grid-list>

                  
              </mat-card-content>
          </mat-card>
      </div>
  </div>
  <div fxLayout="row" fxLayoutWrap="wrap">
      <!-- Card column -->
      <div fxFlex.gt-sm="100%" fxFlex="100">
          <mat-card>
              <mat-accordion>
                  <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header class="custom-green dashboard-title">
                          <mat-panel-title>
                              All Pinned Details
                          </mat-panel-title>
                      </mat-expansion-panel-header>

                      <mat-tab-group>
                          <mat-tab label="Projects">
                              <mat-card-content>
                                  <mat-list role="list">
                                      <mat-list-item role="listitem" class="dashboard-title">
                                          <span class="one">Project Name</span>
                                          <span class="two">Client Name</span>
                                      </mat-list-item>
                                      <mat-list-item role="listitem"><span class="one">
                                          <mat-list role="list" class="project_name_list">
                                              <mat-list-item role="listitem"><span class="pro_name">WQ</span><span class="status">in progress</span></mat-list-item>
                                              <mat-list-item role="listitem">Item 2</mat-list-item>
                                              <mat-list-item role="listitem">Item 3</mat-list-item>
                                            </mat-list>
                                      </span>
                                          <span class="two">Test Sunita</span>
                                          <span class="three"><mat-icon>remove_red_eye</mat-icon></span></mat-list-item>
                                      <mat-list-item role="listitem"><span class="one">Project Name</span>
                                          <span class="two">Test Anita</span>
                                          <span class="three"><mat-icon>remove_red_eye</mat-icon></span></mat-list-item>
                                    </mat-list>
                              </mat-card-content>
                          </mat-tab>
                          <mat-tab label="Invoice">
                              <mat-card-content>Content 2</mat-card-content>
                          </mat-tab>
                          <mat-tab label="Estimates">
                              <mat-card-content>Content 2</mat-card-content>
                          </mat-tab>
                          <mat-tab label="Tickets">
                              <mat-card-content>Content 2</mat-card-content>
                          </mat-tab>
                          <mat-tab label="Leads">
                              <mat-card-content>Content 2</mat-card-content>
                          </mat-tab>
                      </mat-tab-group>
                  </mat-expansion-panel>

              </mat-accordion>
          </mat-card>
      </div>
  </div>

  <div fxLayout="row" fxLayoutWrap="wrap">
      <!-- Card column -->
      <div fxFlex.gt-sm="100%" fxFlex="100">
          <mat-card>
              <mat-accordion>
                  <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              Overdue
                          </mat-panel-title>
                      </mat-expansion-panel-header>

                      <mat-tab-group>
                          <mat-tab label="Projects">
                              <mat-card-content>Content 1</mat-card-content>
                          </mat-tab>
                          <mat-tab label="Invoice">
                              <mat-card-content>Content 2</mat-card-content>
                          </mat-tab>
                          <mat-tab label="Estimates">
                              <mat-card-content>Content 2</mat-card-content>
                          </mat-tab>
                          <mat-tab label="Tickets">
                              <mat-card-content>Content 2</mat-card-content>
                          </mat-tab>
                          <mat-tab label="Leads">
                              <mat-card-content>Content 2</mat-card-content>
                          </mat-tab>
                      </mat-tab-group>
                  </mat-expansion-panel>

              </mat-accordion>
          </mat-card>
      </div>
  </div>
  <div fxLayout="row" fxLayoutWrap="wrap">
          <!-- Card column -->
          <div fxFlex.gt-sm="100%" fxFlex="100">
              <mat-card>
                  <mat-accordion>
                      <mat-expansion-panel expanded="true">
                          <mat-expansion-panel-header>
                              <mat-panel-title>
                                  Overdue
                              </mat-panel-title>
                          </mat-expansion-panel-header>
  
                          <mat-tab-group>
                              <mat-tab label="Projects">
                                  <mat-card-content>Content 1</mat-card-content>
                              </mat-tab>
                              <mat-tab label="Invoice">
                                  <mat-card-content>Content 2</mat-card-content>
                              </mat-tab>
                              <mat-tab label="Estimates">
                                  <mat-card-content>Content 2</mat-card-content>
                              </mat-tab>
                              <mat-tab label="Tickets">
                                  <mat-card-content>Content 2</mat-card-content>
                              </mat-tab>
                              <mat-tab label="Leads">
                                  <mat-card-content>Content 2</mat-card-content>
                              </mat-tab>
                          </mat-tab-group>
                      </mat-expansion-panel>
  
                  </mat-accordion>
              </mat-card>
          </div>
      </div>
      <div fxLayout="row" fxLayoutWrap="wrap">
              <!-- Card column -->
              <div fxFlex.gt-sm="100%" fxFlex="100">
                  <mat-card>
                      <mat-accordion>
                          <mat-expansion-panel expanded="true">
                              <mat-expansion-panel-header>
                                  <mat-panel-title>
                                      Overdue
                                  </mat-panel-title>
                              </mat-expansion-panel-header>
      
                              <mat-tab-group>
                                  <mat-tab label="Projects">
                                      <mat-card-content>Content 1</mat-card-content>
                                  </mat-tab>
                                  <mat-tab label="Invoice">
                                      <mat-card-content>Content 2</mat-card-content>
                                  </mat-tab>
                                  <mat-tab label="Estimates">
                                      <mat-card-content>Content 2</mat-card-content>
                                  </mat-tab>
                                  <mat-tab label="Tickets">
                                      <mat-card-content>Content 2</mat-card-content>
                                  </mat-tab>
                                  <mat-tab label="Leads">
                                      <mat-card-content>Content 2</mat-card-content>
                                  </mat-tab>
                              </mat-tab-group>
                          </mat-expansion-panel>
      
                      </mat-accordion>
                  </mat-card>
              </div>
          </div>
          <div fxLayout="row" fxLayoutWrap="wrap">
                  <!-- Card column -->
                  <div fxFlex.gt-sm="100%" fxFlex="100">
                      <mat-card>
                          <mat-accordion>
                              <mat-expansion-panel expanded="true">
                                  <mat-expansion-panel-header>
                                      <mat-panel-title>
                                          Overdue
                                      </mat-panel-title>
                                  </mat-expansion-panel-header>
          
                                  <mat-tab-group>
                                      <mat-tab label="Projects">
                                          <mat-card-content>Content 1</mat-card-content>
                                      </mat-tab>
                                      <mat-tab label="Invoice">
                                          <mat-card-content>Content 2</mat-card-content>
                                      </mat-tab>
                                      <mat-tab label="Estimates">
                                          <mat-card-content>Content 2</mat-card-content>
                                      </mat-tab>
                                      <mat-tab label="Tickets">
                                          <mat-card-content>Content 2</mat-card-content>
                                      </mat-tab>
                                      <mat-tab label="Leads">
                                          <mat-card-content>Content 2</mat-card-content>
                                      </mat-tab>
                                  </mat-tab-group>
                              </mat-expansion-panel>
          
                          </mat-accordion>
                      </mat-card>
                  </div>
              </div>
              <div fxLayout="row" fxLayoutWrap="wrap">
                      <!-- Card column -->
                      <div fxFlex.gt-sm="100%" fxFlex="100">
                          <mat-card>
                              <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                      <mat-expansion-panel-header>
                                          <mat-panel-title>
                                              Overdue
                                          </mat-panel-title>
                                      </mat-expansion-panel-header>
              
                                      <mat-tab-group>
                                          <mat-tab label="Projects">
                                              <mat-card-content>Content 1</mat-card-content>
                                          </mat-tab>
                                          <mat-tab label="Invoice">
                                              <mat-card-content>Content 2</mat-card-content>
                                          </mat-tab>
                                          <mat-tab label="Estimates">
                                              <mat-card-content>Content 2</mat-card-content>
                                          </mat-tab>
                                          <mat-tab label="Tickets">
                                              <mat-card-content>Content 2</mat-card-content>
                                          </mat-tab>
                                          <mat-tab label="Leads">
                                              <mat-card-content>Content 2</mat-card-content>
                                          </mat-tab>
                                      </mat-tab-group>
                                  </mat-expansion-panel>
              
                              </mat-accordion>
                          </mat-card>
                      </div>
                  </div>
                  <div fxLayout="row" fxLayoutWrap="wrap">
                          <!-- Card column -->
                          <div fxFlex.gt-sm="100%" fxFlex="100">
                              <mat-card>
                                  <mat-accordion>
                                      <mat-expansion-panel expanded="true">
                                          <mat-expansion-panel-header>
                                              <mat-panel-title>
                                                  Overdue
                                              </mat-panel-title>
                                          </mat-expansion-panel-header>
                  
                                          <mat-tab-group>
                                              <mat-tab label="Projects">
                                                  <mat-card-content>Content 1</mat-card-content>
                                              </mat-tab>
                                              <mat-tab label="Invoice">
                                                  <mat-card-content>Content 2</mat-card-content>
                                              </mat-tab>
                                              <mat-tab label="Estimates">
                                                  <mat-card-content>Content 2</mat-card-content>
                                              </mat-tab>
                                              <mat-tab label="Tickets">
                                                  <mat-card-content>Content 2</mat-card-content>
                                              </mat-tab>
                                              <mat-tab label="Leads">
                                                  <mat-card-content>Content 2</mat-card-content>
                                              </mat-tab>
                                          </mat-tab-group>
                                      </mat-expansion-panel>
                  
                                  </mat-accordion>
                              </mat-card>
                          </div>
                      </div>
</div>
